<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Freelancer:</strong>
    <%= job.freelancer_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= job.client_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= job.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= job.review %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= job.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= job.to_date %>
  </p>

</div>
