<div id="<%= dom_id user_profile %>">
  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

  <p>
    <strong>About:</strong>
    <%= user_profile.about %>
  </p>

  <p>
    <strong>Experiences:</strong>
    <%= user_profile.experiences %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= user_profile.skills %>
  </p>

  <p>
    <strong>Pricing:</strong>
    <%= user_profile.pricing %>
  </p>

  <p>
    <strong>Social links:</strong>
    <%= user_profile.social_links %>
  </p>

</div>
